.display-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.padding-left-0 {
  padding-left: 0 !important;
}


[class*="flex-"] {
  padding-left: 10px;
  padding-right: 10px;
}

[class*="flex-"]:first-child {
  padding-left: 0;
}

[class*="flex-"]:nth-last-child(2) {
  padding-right: 0;
}

.card {
  width: 500px;
  display: block;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.mat-radio-label {
  margin-left: 16px;
}
.mat-form-field-wrapper.ng-tns-c100-5 {
  width: 400px;
}

.mat-form-field-wrapper.ng-tns-c100-6 {
  width: 100px;
}
